.stilo {
    background-color: red;
    border: 52px;
}
.divs{
background-image: url('https://th.bing.com/th/id/OIP.Mc9uhsx_2fUPRpgAqq-y1gHaDo?pid=ImgDet&rs=1');
background-size: cover;
}

.boton{
    background-color:gray;
}
.boton:hover{
    border-radius: 5px;
    background:aqua;
    block-size: 20px;
    box-shadow: 52px;
}